*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #232323;
    font-family: cursive;
}
nav{
    width: 100%;
    height: 95px;
    background: rgb(194, 173, 177);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}
nav a{
    margin-top: 5px;
    min-width: 9rem;
    border: 1px solid rgb(147, 144, 147);
    padding: 10px 15px;
    margin-bottom: 15px;
    text-decoration: none;
    background: rgb(224, 218, 218);
    border-radius: 0.3rem;
    font-size: 1.3rem;
    color: rgb(187, 79, 187);
    text-decoration: underline;
}
.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(153, 39, 153);
    font-size: 2rem;
}
#banner{
   text-decoration: underline;
}
#clock{
    margin-top: 1rem;
    height: 200px;
    width: 200px;
    border-radius: 40%;
    background: #000;
    font-size: 37px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(186, 182, 182);
}