body {
    text-align: center;
    background: wheat;
}

h1 {
    color: rgb(122, 16, 16);
    font-size: 5rem;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
}

.w {
    background-image: url('images/tom1.png');
}

.a {
    background-image: url('images/tom2.png');
}

.s {
    background-image: url('images/tom3.png');
}

.d {
    background-image: url('images/tom4.png');
}

.j {
    background-image: url('images/snare.png');
}

.k {
    background-image: url('images/crash.png');
}

.l {
    background-image: url('images/kick.png');
}

.set {
    margin: 10% auto;
}

.game-over {
    background-color: rgb(124, 17, 17);
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    ;
    opacity: 0.5;
}

.red {
    color: red;
}

.drum {
    outline: none;
    border: 10px solid #232323;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #c46d94;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 1.2rem;
    border-radius: 0 0 5rem 5rem;
    display: inline-block;
    width: 180px;
    height: 180px;
    text-align: center;
    margin: 10px;
    /* background: #121212; */
}