*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4e085f;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #153677, #4e085f);
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #000;
    margin: 100px auto ;
    padding: 60px 70px;
    border-radius: 10px;
}