*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
html{
    height: 100%; 
    width: 100%;
    background: #232323;
    color: #c13535;
}
nav{
    /* height: 70px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    width: 100%;
    background: wheat;
}
nav a{
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: #232323;
    background: rgb(223, 217, 217);
    border: none;
    border-radius: 0.5rem;
    border: 1px solid #121212;
    box-shadow: 0 5px 6px rgba(red, green, blue, alpha);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    margin-top: 50px;
    text-align: center;
}
.bottons{
    margin-top: 25px;
    gap: 0.7rem;
    display: flex;
    flex-wrap: wrap;
}
main .button{
    height: 150px;
    width: 150px;
    border: 1px solid #121212;
    border-radius: 1rem;
}
#gray{
    background: gray;
}
#white{
  background: white;
}
#blue{
    background: blue;
}
#yellow{
    background: yellow;
}
main h2 {
    margin: 25px 30%;
    text-align: center;
    color: wheat;
}
