*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    /* background: #232323; */
    transition: background-color 0.5s ease;

}
h1{
    color: red;
    font-size: 5rem;
    text-align: center;
    margin-top: 4rem;
}
.btn{
    text-align: center;
    justify-content: center;
    
}
.btn1{
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    background: wheat;
    border-radius: 1rem;
    font-size: 1.5rem;
    gap: 1rem;
    cursor: pointer;
    border: 2px solid black;
}
.btn1:hover{
    background: #121212;
    color: wheat;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}