*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: cursive;
}
body{
    height: 100vh;
    width: 100%;
    background: rgb(207, 207, 205);
}
.wave{
    position: absolute;
    bottom: 0;
    height: 700px;
    width: 100%;
    background-image: url('wave.svg');
    background-position: bottom;
    background-size: cover;

}
.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.box{
    margin-top: 5rem;
    background: #000;
    height: 600px;
    width: 500px;
    z-index: 1;
    border-radius: 0 5rem;
}

.box img{
    height: 350px;
    width: 350px;
    margin-top: 3rem;
    border-radius: 5rem;
    margin-left: 1rem;
}
h3{
    margin-top: 1.5rem;
    color: white;
    font-size: 1.5rem;
    text-decoration: underline orangered;
}
.box button{
    margin-top: 1.5rem;
    padding: 0 5rem;
    background: orangered;
    font-size: 2rem;
    border-radius: 0 1rem 15rem 0;
}
.box .btn{
    margin-top: 1.5rem;
    padding: 0 5rem;
    background: orangered;
    font-size: 2rem;
    border-radius:  1rem 0 0 15rem ;
}

