* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


    font-family: cursive;
    color: rgb(137, 105, 46);
}

body {
    background-image: url('love.png');
    background-size: cover;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline dotted rgb(173, 131, 51);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 60%;
    background-image: url('love.png');
    margin: 2rem 20% 0 35%;
    border: 8px double wheat;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 500px;
    height: 450px;
    border-radius: 2rem;
    margin-right: 32%;
    margin-bottom: 3%;
    overflow: hidden;
}

.imge img {
    display: block;
    height: 350px;
    width: 350px;
    object-fit: cover;
    transform: scale(1.3);
    border-radius: 5rem 0;
    /* z-index: 2; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.content{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 1100px;
    height: 250px;
    margin-top: 2.3rem;
    border-radius: 1rem 4rem;
    border: 1px solid wheat;
    background-image: url('love.png');
}
.content h2{
    text-align: center;
    font-size: 1.6rem;
    margin-left: 28rem;
    text-decoration: underline wavy rgb(95, 64, 8);
}
span{
    display: flex;
}
span p{
    height: 5px;
    width: 5px;
    font-size: 11rem;
    /* justify-content: space-around; */
    margin-bottom: 2rem;
    margin-left: 40rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: 33%;
    margin-top: 2rem;
    text-align: center;
}
.a{
   text-align: center;
   font-size: 1.8rem;
   height: 51px;
   width: 320px;
   border-radius: 0.5rem;
   border: 1px solid ;
   outline: wheat solid 1px;
}