* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

html,
body {
    height: 100vh;
    width: 100%;
    background: whitesmoke;
}

.wave {
    position: absolute;
    bottom: 0;
    height: 500px;
    width: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23ffd700" fill-opacity="1" d="M0,256L16,229.3C32,203,64,149,96,117.3C128,85,160,75,192,96C224,117,256,171,288,181.3C320,192,352,160,384,133.3C416,107,448,85,480,96C512,107,544,149,576,186.7C608,224,640,256,672,224C704,192,736,96,768,58.7C800,21,832,43,864,69.3C896,96,928,128,960,122.7C992,117,1024,75,1056,80C1088,85,1120,139,1152,186.7C1184,235,1216,277,1248,277.3C1280,277,1312,235,1344,218.7C1376,203,1408,213,1424,218.7L1440,224L1440,320L1424,320C1408,320,1376,320,1344,320C1312,320,1280,320,1248,320C1216,320,1184,320,1152,320C1120,320,1088,320,1056,320C1024,320,992,320,960,320C928,320,896,320,864,320C832,320,800,320,768,320C736,320,704,320,672,320C640,320,608,320,576,320C544,320,512,320,480,320C448,320,416,320,384,320C352,320,320,320,288,320C256,320,224,320,192,320C160,320,128,320,96,320C64,320,32,320,16,320L0,320Z"></path></svg>');
    background-size: cover;
    background-position: bottom;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    margin-top: 120px;
    text-align: center;
    background: rgb(239, 238, 236);
    padding: 20px;
    height: 650px;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5rem 5rem 0 7rem;
    z-index: 1;
}

h2 {
    font-size: 35px;
    text-decoration: underline double #FFD41D;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#todo-input {
    width: 75%;
    padding: 15px;
    border: 1px solid rgb(231, 210, 21);
    font-size: larger;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0.5rem;
    outline: none;
    color: black;

}

button {
    width: 17%;
    margin-left: 5px;
    border-radius: 0.3rem;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background: #FFD41D;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #9E2A3A;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: whitesmoke;
    padding: 10px;
    margin-top: 7px;
    border-radius: 1rem 0.2rem 0.2em;
    display: flex;
    justify-content: space-between;
    border: 0.5px solid #9E2A3A;
    align-items: center;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
li.completed{
    text-decoration: line-through wavy #FFD41D;
    opacity: 0.7;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: 0.5px solid #FFD41D;
}
li button{
    background: #9E2A3A;
    padding: 5px ;
    border: none;
    color: white;
    cursor: pointer;
}
li button:hover{
    background: #FFD41D;
    color: black;
}
li span{
    font-size: 1.5rem;
}