* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

html,
body {
    height: 100vh;
    width: 100%;
    background: whitesmoke;
}

.wave {
    position: absolute;
    bottom: 0;
    height: 700px;
    width: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23a2d9ff" fill-opacity="1" d="M0,32L80,0L160,32L240,128L320,224L400,128L480,192L560,64L640,160L720,288L800,192L880,224L960,160L1040,288L1120,160L1200,256L1280,128L1360,128L1440,64L1440,320L1360,320L1280,320L1200,320L1120,320L1040,320L960,320L880,320L800,320L720,320L640,320L560,320L480,320L400,320L320,320L240,320L160,320L80,320L0,320Z"></path></svg>');
    background-size: cover;
    background-position: bottom;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    margin: 120px;
    padding: 10px;
    height: 670px;
    width: 510px;
    background: #FFF2EF;
    border-radius: 2rem 2rem 0 5rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    z-index: 1;
}
h2{
    font-size: 35px;
    color: #CD2C58;
    text-decoration: underline double #a2d9ff;
    margin-bottom: 30px;
}
.input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
#city-input{
    width: 78%;
   padding: 10px;
   border-radius: 0.5rem;
   outline: none;
   font-size: larger;
   color: #CD2C58;
   border: 1px solid #a2d9ff;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#city-input::selection{
    background: #FFA4A4;
    color: white;
    padding: 5px;
}
button{
    width: 17%;
    padding: 10px;
    margin-left: 5px;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    font-weight: bold;
    background: #CD2C58;
    color: white;
}
button:hover{
    background: #b34160;
    color: white;
}
#weather-info {
    margin-top: 35px;
}
.hidden{
    /* display: none; */
}
#error-message{
    margin-top: 40px;
}
#city-input{
   font-size: 2rem;
}
.material-icons i{
    font-size: 3rem;

}
.s{
    position: absolute;
    margin-left: 7px;
    margin-top: 5px;
    font-size: 3rem;
    color: #a2d9ff;
}