*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232323;
}
.card{
    height: 570px;
    width: 470px;
    background: linear-gradient(90deg, #a58f5e 0%, #76bbbd 100%);
    background-blend-mode: darken;
    border-radius: 3rem;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.head{
   display: flex;
   justify-content: center;
   align-items: center;
   background: transparent;
}
.head input{
    width: 80%;
    height: 40px;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 1.5rem;
    font-size: 1rem;
    outline: none;
}
.src{
   background: transparent;
   margin-left: -5%;
   color: #cdd1d7;
   border: 2px solid #8f76bd;
   background: #977732;
   padding: 0.7rem;
   border-radius: 40%;
   font-size: 5rem;

}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.city{
    text-align: center;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    color: #4496b5;
    border-radius: 1re;
    font-size: 2.5rem;
}
.day{
    padding: 0.2rem;
    border: 1px solid #684e98;
    border-radius: 0 0 7px 7px;
    background: #978764;
}
.temp-section{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.temp-section .temp{
    font-size: 4rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background: transparent;
    animation: bounce 2s linear infinite;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.temp-section .description{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px */
}
.temp-section .description .sny{
    opacity: 0.8;
    font-size: 2.1rem;
    animation: fadeIn 2s linear infinite;
    background: linear-gradient(90deg, #8b816c 0%, #488599 100%);;
}
.temp-section .description .text{
    font-size: 1.5rem;
    background: linear-gradient(90deg, #8b816c 0%, #4a7280 100%);;


}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.3rem;
    background: transparent;
}
.wind{
    height: 100px;
    width: 100px;
    background: #96adda;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.icon{
    background: transparent;
}
.speed{
    margin-top: 0.5rem;
    background: transparent;
    font-size: 1rem;
}
.level{
    background: transparent;
    font-size: 0.7rem;
}
.humidity{
    height: 100px;
    width: 100px;
    border-radius: 1rem;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.visibility{
    height: 100px;
    width: 100px;
    border-radius: 1rem;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}
