*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    background: #232323;
    color: rebeccapurple;
}
nav{
    width: 100%;
    height: 70px;
    background: wheat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
nav a{
    padding: 20px 25px;
    background: rgb(178, 176, 176);
    border-radius: 1rem;
    border: 1px solid wheat;
    text-align: center;
    min-width: 9rem;
    text-decoration: none;
}
h1{
   margin: 0 15rem;
   text-align: center;
   padding: 1rem;
   background: wheat;
   border-radius: 0 0 10rem 10rem ;
}
.h2{
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 2rem;
    padding: 1rem;
    background: #000;
    width: 20%;
    border-radius: 1rem;
}
.box{
    width: 100%;
    height: 825px;
    padding-left: 300px;
    /* background: #000; */
}
.from{
    margin-top: 2rem;
    width: 100%;
    background: rgb(194, 173, 177);
    padding: 5rem;
    border-radius: 2rem 2rem 0 10rem;
}
p{
    background: rgb(194, 173, 177);
    color: #000;
}
p label{
    background: rgb(194, 173, 177);
    font-weight: 400;
    font-size: 1.5rem;
    color: rgb(117, 35, 117);
}
p input{
    padding-left: 1rem;
    background: rgb(195, 191, 191);
    padding: 7px;
    text-decoration: none;
    border: none;
    outline: none;
    width: 80%;
    border-radius: 0.3rem;
}
.box button{
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    background: rgb(232, 227, 227);
    border: none;
    border-radius: 0.5rem;
    border: 1px solid black;
}
.weight-guide h3{
    margin-top: 1rem;
    font-weight: 700;
    background: rgb(194, 173, 177);
    text-decoration: underline;
}
#results{
    margin-top: 0.5rem;
    padding: 1rem;
    background: #232323;
    width: 90%;
    border-radius: 0.5rem;
}
